@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
   
  }


  /*full-header-section start*/

  /*nave bar start*/
  .full-header-section{
    height: 645px;
    width: 100%;
    background-color: rgb(31, 30, 30);
    
      
    
  }


  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
    
  }
  .list-items{
    display: flex;
    list-style: none;
    gap: 50px;
    border: 1px rgba(226, 224, 224, 0.1) solid;
    border-radius: 39px;
    height: 30px;
    width: 90%;
    align-items:center ;
    margin-right: 20px;
    
  }
  .company-name{
    font-size: 30px;
    font-weight: 600;
    color: rgba(230, 83, 60, 1);
    ;
  }
  #home{
    font-weight: 600;
    border: none;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 3px 15px;
    
  }
  .nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
    
  }
   /*nave bar end*/
    /*head section er text and image  start*/
    .text-picture-item{
        display: flex;
        justify-content: space-between;
        margin: 34px 200px;
    }

    .head-text-content h1{
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    .head-text-content p{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }

    #button-join{
        height: 35px;
        width: 150px;
        border-radius: 30px;
        color:rgba(255, 255, 255, 1) ;
        background-color:rgba(230, 83, 60, 1) ;
        font-size:14px ;
        font-weight:600 ;
        border: none;

        
    }
    #button-download{
        height: 35px;
        width: 150px;
        border-radius: 30px;
        color:rgba(255, 255, 255, 1) ;
        background-color: black;
        font-size:14px ;
        font-weight:600 ;
        border: 1px wheat solid;
    }
 
/*head section er text and image  end*/
/*change-habit-item full content start*/
.change-habit-item{
    height: 600px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 100px;
}
.change-habit-item h1{
    font-size: 42px;
    font-weight: 700;
    
}
.change-habit-item p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-top: -3px;
    
}
/*four habit items start*/
.habit-items{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 50px 250px;
    align-items: center;
    justify-content: center;
}
.habit-items img{
    border-radius: calc(90px);
}
/*change-habit-item full content end*/
/*Run an Extra  Mile Easily full box start*/
.run-fullbox{
    height: 350px;
    width: 60%;
    border: none;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 10px 100px;
    
    
}

.run-fullbox img{
    height: 300px;
    width: 360px;
    margin-top: 25px;
    border-radius: 18px;
    
}
.run-fullbox h1{
    font-size: 35px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;

}
.run-fullbox p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.run-fullbox button{
    height: 35px;
    width: 150px;
    border-radius: 30px;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(230, 83, 60, 1) ;
    font-size:14px ;
    font-weight:600 ;
    border: none;
}
/*Run an Extra  Mile Easily full box end*/









    /*media quarry small devise start*/  
 @media screen  and (max-width: 573px ){


 }





 /*media quarry long device start*/
 @media screen and (min-width: 992px) and (max-width:1024px){


 }