@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
   
  }


  /*full-header-section start*/

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80%;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  /*nave bar start*/
  .full-header-section{
    height: 645px;
    width: 100%;
    background-color: rgb(31, 30, 30);  
  }


  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
    
  }
  .list-items{
    display: flex;
    list-style: none;
    gap: 50px;
    border: 1px rgba(226, 224, 224, 0.1) solid;
    border-radius: 39px;
    height: 30px;
    width: 100%;
    align-items:center ;
    margin-right: 20px;

    
  }
  .company-name{
    font-size: 30px;
    font-weight: 600;
    color: rgba(230, 83, 60, 1);
    ;
  }
  #home{
    font-weight: 600;
    border: none;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 3px 15px;
    
  }
  .nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
    
  }
   /*nave bar end*/
    /*head section er text and image  start*/
    .text-picture-item{
        display: flex;
        justify-content: space-between;
        margin: 34px 200px;
    }
    .video-box{
      display: flex;
      flex-direction: row;
    }
    .left-site{
        height: 60px;
        width: 130px;
        border: 1px solid rgba(255, 255, 255, 0.1) ;
        margin-top: -265px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: center;
        align-items: center;
        display: flex;
        gap: 10px;
        

    }
    .left-site h1{
        color: white;
        font-size: 20px;
        margin-top: -0.1px;
        padding-top: 2px;
        font-weight: 600;
    }
    .left-site p{
        color: rgba(255, 255, 255, 0.65);
        font-size: 10px;
        margin-top: -10px;  
        
    }
    #video{
        height: 30px;
        width: 30px;
        border: 1px solid rgba(230, 83, 60, 1)  ;
        background-color: rgba(230, 83, 60, 1) ;
        border-radius: calc(90px);
        margin-left: 5px;
    }
    #playbtn{
        height: 25px;
        width: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 7px;

    }
    .right-site{
        height: 65px;
        width: 140px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: -460px;
        margin-left: 40px;
        border-radius: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: center;
    }
    .right-site h1{
        color: white;
        font-size: 25px;
        margin-top: -0.1px;
        padding-top: 2px;
        font-weight: 900;
    }
    .right-site p{
        color: rgba(255, 255, 255, 0.65);
        font-size: 12px;
        margin-top: -10px;
    }

    .head-text-content h1{
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    #shape{
        font-family: "Dancing Script", cursive;
        font-size: 60px;
        font-weight: 700;
    }
    .head-text-content p{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }

    #button-join{
        height: 35px;
        width: 150px;
        border-radius: 30px;
        color:rgba(255, 255, 255, 1) ;
        background-color:rgba(230, 83, 60, 1) ;
        font-size:14px ;
        font-weight:600 ;
        border: none;

        
    }
    #button-download{
        height: 35px;
        width: 150px;
        border-radius: 30px;
        color:rgba(255, 255, 255, 1) ;
        background-color: black;
        font-size:14px ;
        font-weight:600 ;
        border: 1px wheat solid;
    }
 
/*head section er text and image  end*/
/*change-habit-item full content start*/
.change-habit-item{
    height: 600px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 100px;
}
.change-habit-item h1{
    font-size: 42px;
    font-weight: 700;
    
}
.change-habit-item p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-top: -3px;
    
}
/*four habit items start*/
.habit-items{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 50px 250px;
    align-items: center;
    justify-content: center;
}
.habit-items img{
    border-radius: calc(90px);
}
/*change-habit-item full content end*/
/*Run an Extra  Mile Easily full box start*/
.run-fullbox{
    height: 350px;
    width: 60%;
    border: none;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 10px 100px;
    
    
}

.run-fullbox img{
    height: 300px;
    width: 360px;
    margin-top: 25px;
    border-radius: 18px;
    object-fit: none;
    object-position: 65% 30%;
    
}
.run-fullbox h1{
    font-size: 35px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;

}
.run-fullbox p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.run-fullbox button{
    height: 35px;
    width: 150px;
    border-radius: 30px;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(230, 83, 60, 1) ;
    font-size:14px ;
    font-weight:600 ;
    border: none;
}
/*Run an Extra  Mile Easily full box end*/

/*BMI-calculator full box start*/
/*BMI left table start*/
.BMI-heading{
    margin:100px 600px ;
}
.BMI-heading h1{
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    font-size: 40px;
    margin-top: 100px;
}
.BMI-heading p{
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}
.BMI-calculator{
    height: 400px;
    width: 100%;
    background-color:  rgba(34, 34, 34, 1);
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    
    
}
.full-table{
    border: 1px rgb(246, 245, 245) solid;
    height: 40px;
    width: 350px;
}
.full-table td{
    padding-left: 10px;
}
.BMI-chart{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 200px;

}
.BMI-chart h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.thed{
    color: white;
}

/*BMI left table end*/
/*BMI right table start*/
.calculate-BMI{
    margin-right: 200px;
    margin-top: 40px;
}
.calculate-BMI h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.calculate-BMI p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
/*bmi right site box */
.factor, .sex, .age, .weight, .height{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 5px;


}
.full-bmibox input{
    height: 25px;
    width: 250px;
}

.height{
    grid-area: height;
    
}

.weight{
    grid-area: weight;
}

.age{
    grid-area: age;
}

.sex{
    grid-area: sex;

    
}

.factor{
    grid-area: factor;
    
}
.factor input{
    width: 535px;
}
.weight input{
    width: 275px;
}
.sex select{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 26px;
    
    
}
.factor select{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height:25px ;
    
}
.full-bmibox{
    display: grid;
    gap: 20px;
    
    grid-template-areas: 
    " height height weight weight"
    "age age sex sex "
    "factor factor factor factor"
    
    ;
}
.full-bmibox input{
border: none;
background-color: rgba(255, 255, 255, 0.1);
border-style: none;

}




/*meet our team full section start */
.meet-team-section{
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}
.meet-team-header h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.meet-team-header p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
    
}

.picture-items{
    width: 100%;
    margin: 0 auto;
    height: 730px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px ;

}
.picture-items h1{
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
    padding-top: 250px;
}
.picture-items p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
.img-one{
    background-image: url(../images/trainer1.png);
    height: 350px ;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;

}
.img-two{
  background-image: url(../images/trainer2.png);
  height: 350px ;
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;

}
.img-three{
    background-image: url(../images/trainer3.png);
    height: 350px ;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;

}
.img-four{
    background-image: url(../images/trainer4.png);
    height: 350px ;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;

}
.img-five{
    background-image: url(../images/trainer5.png);
    height: 350px ;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;

}
.img-six{
    background-image: url(../images/trainer6.png);
    height: 350px ;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;

}


/*extra form start*/
#full-form{
    height: 500px;
    width: 80%;
    border: rgb(203, 201, 201) 1px solid;
    margin: 0 auto;
    background-color:  rgb(202, 200, 200);
    box-shadow: white 3px 6px 10px;
    border-radius: 5px;
}
.form-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 200px;
}
.picture img{
    height: 400px;
    width: 400px;
}
.form{
    border: 1px solid rgb(169, 166, 166);
    width: 300px;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(161, 160, 160);
}
.form h1{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.form p{
    font-size: 16px;
    font-weight: 400;

}
.form label{
    font-size: 18px;
    font-weight: 500;
    
}
.form input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    
}
.form button{
    font-size:18px ;
    font-weight: 700;
    height: 30px;
    width: 130px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}







/*footer fullcontent start */
.footer{
    height: 400px;
    width: 100%;
    background-color: 
    rgba(255, 255, 255, 0.1);
}
.footer-fullbox{

    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 20px 300px;
    align-items: center;
}
.footer-left-content h1{
    font-size: 40px;
    font-weight: 600;
    color: rgba(230, 83, 60, 1);
    ;
}
.footer-left-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.footer-midle-content h2{
    font-size: 25px ;
    font-weight:700 ;
    color: rgba(255, 255, 255, 1);
    padding-left: 35px;
}
.footer-midle-content li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 20px;
    font-weight: 400;

}

.footer-right-content h2{
    font-size: 25px ;
    font-weight:700 ;
    color: rgba(255, 255, 255, 1);
    padding-left: 35px;
}
.footer-right-content li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 20px;
    font-weight: 400;

}

.copyrite{
    color:rgba(255, 255, 255, 0.5) ;
    font-size:20px ;
    font-weight:400 ;
    align-items: center;
    text-align: center;

}
.footer hr{
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
    margin: 0 auto;
}










    /*media quarry small devise start*/  
 @media screen  and (max-width: 573px ){
    /*full-header-section start*/

  /*nave bar start*/
  .checkbtn{
    display: block;
  }
  .full-header-section{
    height: 1052px;
    width: 100%;
 
  }


  .navbar{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    
  }
  .list-items{
    display: none;

    
  }

    /*head section er text and image  start*/
    .text-picture-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 34px 20px;
    }

 
/*head section er text and image  end*/
/*change-habit-item full content start*/
.change-habit-item{
    height: 1800px;
    align-items: center;
}
.change-habit-item h1{
    font-size: 35px;
    
}
.change-habit-item p{
    font-size: 14px;
    
}
/*four habit items start*/
.habit-items{
    display: flex;
    flex-direction: column;
    margin: 40px 200px;
}
/*change-habit-item full content end*/
/*Run an Extra  Mile Easily full box start*/
.run-fullbox{
    height: 670px;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
       
}

/*Run an Extra  Mile Easily full box end*/

/*BMI-calculator full box start*/
/*BMI left table start*/
.BMI-heading{
    margin:10px 30px ;
}
.BMI-heading h1{
    font-size: 35px;
}
.BMI-calculator{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;  
    padding-bottom: 30px;  
    padding-left: 30px;
}

.BMI-chart{
    margin-left: 10px;

}
.BMI-chart h1{
    font-size: 30px;
}

/*BMI left table end*/
/*BMI right table start*/
.calculate-BMI{
    margin-right: 20px;
}
.calculate-BMI h1{
    font-size: 30px;
}

/*bmi right site box */

.full-bmibox input{
    height: 25px;
    width: 155px;
}


.factor input{
    width: 350px;
}
.weight input{
    width: 175px;
}




/*meet our team full section start */
.meet-team-section{
    width: 100%;
    height: 2500px;
    margin: 0 auto;
}
.meet-team-header h1{
    font-size: 35px;
}
.meet-team-header p{
    font-size: 14px;
    padding-bottom: 30px;
    
}

.picture-items{
    width: 100%;
    margin: 0 auto;
    height: 2250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}



/*extra form start*/
#full-form{
    height: 900px;
    width: 100%;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 20px;
}
.picture img{
    height: 400px;
    width: 400px;
}
.form{
    width: 290px;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(161, 160, 160);
}


/*footer fullcontent start */
.footer{
    height: 800px;
}
.footer-fullbox{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 50px;
}
.footer-left-content h1{
    font-size: 35px;
}
.footer-midle-content h2{
    font-size: 20px ;
    text-align: left;
}
.footer-midle-content li{
    font-size: 18px;

}

.footer-right-content h2{
    font-size: 20px ;
}
.footer-right-content li{
    font-size: 18px;

}

.copyrite{
    font-size:18px ;
}


 }





 /*media quarry long device start*/
 @media screen and (min-width: 992px) and (max-width:1024px){
    .left-site{
        height: 60px;
        width: 130px;
        margin-top: -230px;
        margin-left: -20px;
    }


    .right-site{
        height: 60px;
        margin-top: -380px;
        margin-left: 20px;

    }




/*extra form start*/
#full-form{
    height: 400px;
    width: 80%;
    border: rgb(203, 201, 201) 1px solid;
    margin: 0 auto;
    background-color:  rgb(202, 200, 200);
    box-shadow: white 3px 6px 10px;
    border-radius: 5px;
}
.form-box{
    margin: 20px 20px;
}
.picture img{
    height: 350px;
    width: 350px;
}
.form{
    width: 270px;
    padding: 20px 40px;
}
.form h1{
    font-size: 30px;
}
.form p{
    font-size: 14px;
}
.form label{
    font-size: 16px;  
}

.form button{
    font-size:16px ;
}
.form a{
    font-size: 14px;
}
  /*full-header-section start*/

  /*nave bar start*/
  .full-header-section{
    height: 545px;
    width: 100%; 
  }

  .navbar{
    margin: 20px 100px;
    
  }
  .list-items{
    gap: 40px;
    height: 30px;
    margin-right: 20px;
    
  }

  #home{
    font-size: 18px;
    padding: 3px 15px;  
  }
  .nav-link{
    font-size: 14px;
  }
   /*nave bar end*/
    /*head section er text and image  start*/
    .text-picture-item{
        margin: 34px 100px;
    }
    .text-picture-item img{
      height: 400px;
    }
    .head-text-content h1{
        font-size: 35px;
    }
    #shape{
        font-size: 50px;
    }
    .head-text-content p{
        font-size: 14px;
    }

    #button-join{
        height: 30px;
        width: 130px;
        font-size:12px ;

        
    }
    #button-download{
        height: 30px;
        width: 130px;
        font-size:12px ;
    }
 
/*head section er text and image  end*/








/*change-habit-item full content start*/
.change-habit-item{
    height: 530px;
    width: 100%;
    padding-top: 50px;
}
.change-habit-item h1{
    font-size: 35px;   
}
.change-habit-item p{
    font-size: 12px;  
}
/*four habit items start*/
.habit-items{
    gap: 40px;
    margin: 50px 250px;

}
.habit-items h3{
    font-size: 16px;
}







/*Run an Extra  Mile Easily full box start*/
.run-fullbox{
    height: 350px;
    width: 70%;
    padding: 10px 40px;  
}

.run-fullbox img{
    height: 300px;
    width: 280px;
    margin-top: 25px;
    object-fit: none;
    object-position: 65% 30%;
    
}
.run-fullbox h1{
    font-size: 30px;
    margin-top: 40px;

}
.run-fullbox p{
    font-size: 12px;
}
.run-fullbox button{
    height: 30px;
    width: 130px;
    font-size:12px ;
}
/*Run an Extra  Mile Easily full box end*/






    /*bmi full content*/
    .BMI-heading{
        margin:30px 300px ;
    }
    .BMI-heading h1{
        font-size: 35px;
        margin-top: 100px;
    }
    .BMI-heading p{
        font-size: 12px;
    }
    .BMI-calculator{
        height: 350px;
        width: 100%;
           
        
    }
    .full-table{
        height: 0px;
        width: 300px;
        margin-top: 50px;
    }
    .full-table td{
        font-size: 12px;
    }
    .BMI-chart{
        margin-left: 50px;
    
    }
    .BMI-chart h1{
        font-size: 25px;
        font-weight: 900;
        
    }
    
    /*BMI left table end*/
    /*BMI right table start*/
    .calculate-BMI{
        margin-right: 50px;
        margin-top: 20px;
    }
    .calculate-BMI h1{
        font-size: 25px;
    }
    .calculate-BMI p{
        font-size: 12px;
    }
    /*bmi right site box */
    .factor, .sex, .age, .weight, .height{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        padding: 5px;
    
    
    }






    /*meet our team section*/
    .meet-team-section{
        width: 80%;
        height: 650px;
        margin: 0 auto;
    }
    .meet-team-header h1{
        font-size: 35px;
    }
    .meet-team-header p{
        font-size: 12px;       
    }
    
    .picture-items{
        width: 100%;
        margin: 0 auto;
        height: 430px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px ;
    
    }
    .picture-items h1{
        font-size: 18px;
        margin-left: 10px;
        padding-top: 130px;
    }
    .picture-items p{
        font-size: 12px;
        margin-left: 10px
    }
    .img-one{
  
        height: 200px ;
        width: 250px;
    }
    .img-two{
        height: 200px ;
        width: 250px;
    
    }
    .img-three{
        height: 200px ;
        width: 250px;
    
    }
    .img-four{
        height: 200px ;
        width: 250px;
    }
    .img-five{
        height: 200px ;
        width: 250px;
    }
    .img-six{
        height: 200px ;
        width: 250px;
    
    }




    /*footer full content*/
    .footer-fullbox{
        gap: 30px;
        margin: 20px 150px;
    }
    .footer-left-content h1{
        font-size: 35px;
    }
    .footer-left-content p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
    }
    .footer-midle-content h2{
        font-size: 20px ;
    }
    .footer-midle-content li{
       font-size: 16px;
    }
    
    .footer-right-content h2{
        font-size: 20px ;
    }
    .footer-right-content li{
        font-size: 16px;  
    }

 }
 .copyrite{
    font-size:16px ;
}
.footer hr{
    width: 80%;
    margin: 0 auto;
}